<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="d-flex justify-content-center mt-5">
    <h3> UCommerce, tu comercio ideal</h3>
</div>
<div class="container emp-profile" *ngFor="let user of usuarios; index as j">
    <form method="post">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div *ngIf="this.user.vendor">
                    <h4>CAROUSEL PRODUCTOS</h4>
                    <div data-toggle="modal" data-target="#myModal">

                        <a class="profile-edit-btn">Añadir producto</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="profile-head">
                    <h5>
                        {{user.name}} {{user.lastname}}
                    </h5>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 my-4" data-toggle="modal" data-target="#exampleModal" *ngIf="this.param===this.id">
            
                <a class="profile-edi-btn" [routerLink]="['/pedidos']" *ngIf="this.user.vendor">Ver Pedidos</a>
                <a class="profile-edi-btn" [routerLink]="['/pedidosc']" *ngIf="!this.user.vendor">Ver Pedidos</a>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-md-4">
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-6">
                        <label>Nombre</label>
                    </div>
                    <div class="col-6">
                        <p>{{user.name}} {{user.lastname}}</p>
                    </div>

                </div>
                <div class="row my-3">
                    <div class="col-6">
                        <label>Telefono celular</label>
                    </div>
                    <div class="col-6">
                        <p> {{user.phone}}</p>
                    </div>

                </div>
                <div class="row my-3">
                    <div class="col-6">
                        <label>Email</label>
                    </div>
                    <div class="col-6">
                        <p>{{user.email}}</p>
                    </div>
                </div>
                <div class="row my-3" *ngFor="let desc of descripcion; index as j">
                    <div class="col-6">
                        <label>Descripción</label>
                    </div>
                    <div class="col-6">
                        <p>{{desc.vendorDetails.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div *ngFor="let user of usuarios; index as j" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngFor="let user of usuarios; index as j">
                <form >
                    <div class="form-group">
                        <label>Nombre
                            <input [(ngModel)]="user.name" type="text" placeholder="Name" name="name"
                                class="form-control my-2">
                        </label>
                    </div>
                    <div class="form-group">
                            <label>Apellido
                                <input [(ngModel)]="user.lastname" type="text" placeholder="Name" name="lname"
                                    class="form-control my-2">
                            </label>
                        </div>
                    <div class="form-group">
                        <label>Telefono celular
                            <input [(ngModel)]="user.phone" type="text" placeholder="Digite su telefono celular"
                                name="username" class="form-control my-2">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Email
                            <input [(ngModel)]="user.email" type="email" placeholder="Digite su email" name="email"
                                class="form-control my-2">
                        </label>
                    </div>
                    <div class="form-group" *ngFor= "let desc of descripcion; index as iii">
                            <label>Descripción
                                <input [(ngModel)]="desc.vendorDetails.description" type="text" placeholder="Digite su Descripción" name="descripcion"
                                    class="form-control my-2">
                            </label>
                        </div>
                    <button class="btn btn-warning mt-3" type="submit">Confirmar cambios</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añadir producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngFor="let p of producto; index as j">
                <form (ngSubmit)="anadirProducto()">
                    <div class="form-group">
                        <label>Nombre
                            <input [(ngModel)]="p.name" type="text" placeholder="Nombre" name="name"
                                class="form-control my-2">
                        </label>
                    </div>
                    <div class="form-group">
                            <label>Precio
                                <input [(ngModel)]="p.price" type="text" placeholder="Precio" name="lname"
                                    class="form-control my-2">
                            </label>
                        </div>
                    <div class="form-group">
                        <label>Cantidad:
                            <input [(ngModel)]="p.available" type="text" placeholder="Cantidad disponible"
                                name="username" class="form-control my-2">
                        </label>
                    </div>
                    <button class="btn btn-warning mt-3" type="submit">Añadir</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>