<div >
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src={{img}} alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{product.name}}</a>
        </h4>
        <h5>{{product.name}}</h5>
        <p class="card-text"> Aquío info sobre esa joda</p>
      </div>
      <div class="card-footer">
          <button  type="button" class="btn btn-outline-success btn-block btn-sm" (click)="addToCart()">Añadir al carro</button>
      </div>
    </div>
</div>