<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="nav-item nav-link logo" href="home">UnCommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto mr-auto text-center">
            <a class="nav-item nav-link ml-5" href="home"> Home </a>
            <a class="nav-item nav-link ml-5" href="-">Products</a>
            <a class="nav-item nav-link ml-5" href="-">Vendedores</a>
            <a class="nav-item nav-link ml-5" href="login"> Sign In </a>
            <a class="nav-item nav-link ml-5" href="signup"> Sign up </a>
        </div>
    </div>
</nav>