<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container wrapper">
    <div class="cart-body">
        <form class="form-horizontal">
            <div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Review Order
                    </div>
                    <div class="panel-body">
                        <div *ngFor="let item of this.cart.getCart(); index as j">
                            <div class="form-group">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="col-xs-12 my-2">Productos:</div>
                                    <div class="col-xs-12 my-2" *ngFor="let prod of item.products; index as i">Producto
                                        {{(i+1)}}:<div class="col-xs-12 my-2">Nombre producto:
                                            <div class="pull-right">
                                                {{prod.productName}}
                                            </div>
                                        </div>
                                        <div class="col-xs-12 my-2">Precio:
                                            <div class="pull-right">
                                                {{prod.price}}
                                            </div>
                                        </div>
                                        <div class="col-xs-12 my-2">Cantidad:
                                            <div class="pull-right">
                                                {{prod.quantity}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <hr />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <strong>Order Total</strong>
                                <div class="pull-right"><span>$</span><span>{{suma}}</span></div>
                            </div>
                            <div class="col text-center">
                                <button class="btn btn-success" (click)="makeorder()">CONFIRMAR COMPRA</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>